<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" th:href="@{/css/register.css}">
</head>
<body>
    <main>
        <div class="register-image">
            <img th:src="@{/img/img_login.jpeg}" alt="Imagem De Cadastro">
        </div>
        <div class="register-card">
            <h2>Cadastro</h2>
            <form th:action="@{/register}" method="post" class="register-form">
                <input type="text" name="nome" id="nome" placeholder="Nome">
                <input type="email" name="email" id="email" placeholder="E-mail">
                <input type="password" name="senha" id="senha" placeholder="Senha">
            <!-- <input type="password" name="confirmarSenha" id="confirmarSenha" placeholder="Confirmar senha"> -->
                <input type="text" name="cpf" id="cpf" placeholder="CPF">
                <button type="submit" class="register-submit-btn">Cadastrar</button>
                <p class="register-footer-text">Já tem uma conta?</p>
                <p><a href="/login" class="register-link">Entrar</a></p>
            </form>
        </div>
    </main>
</body>
</html>